/* Google Fonts
font-family: 'Staatliches', 'Futura', sans-serif; /* navbar, page headings
font-family: 'Lato', sans-serif; /* large blocks of text
font-family: 'Roboto Slab', serif; /* accent text
font-family: 'Patrick Hand', sans-serif; /* footer
*/

/* Universal styling */
body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 1em; 
}

h1 {
  margin-left: 50px;
  color: #000000;
  font-family: 'Staatliches', 'Futura', sans-serif;
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .15em;
  text-decoration: overline;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Navbar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  color: #000000;
  
}

.logo a {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  color: #3d5c36;
  font-family: 'Staatliches', 'Futura', sans-serif;
  font-size: 2em;
}

.logo a:hover {
  text-decoration: none;
}

.menu {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.menu li {
  font-family: 'Staatliches', 'Futura', sans-serif;
  text-transform: uppercase;
}

/* Sub-menu */
ul.menu {
  font-size: 1.4em;
  letter-spacing: .15em;
  text-transform: uppercase;
}

ul.menu li a {
  display: block; 
}

ul.menu > li:hover {
  text-decoration: none;
}

ul.menu > li {
  padding: 0px;
  display: inline-block; 
  position: relative; 
}

ul.menu > li ul {
  display: none; 
  position: absolute; 
  left: -1px;
  width: 250px;
  margin-top: 1px;
}

ul.menu > li:hover ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

ul.menu > li ul li {
  display: inline-block;
}

ul.dropdown {
  position: absolute;
  z-index: 1000;
  width: 250px;
  padding: 0px;
  background-color: rgba(255, 255 ,255, 0.7);
}

.sublink {
  padding: 5px;
}


/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 50px 0 50px 0;
}

.footer p {
  line-height: 0.2em;
  font-family: 'Roboto Slab', serif;
}


/* (Universal) Page Container */
.container {
  width: 100%;
}


/* 404 Page */
._404-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

._404-container p {
  font-family: 'Roboto Slab', serif; 
  font-size: 1.8em;
}


/* Home Page and RandomImage Component*/
.home-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.home-side-text {
  width: 25%;
}

.home-random-image {
  width: 74%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.random-image-component img {
  max-height: 400px;
}

.random-image-component p {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  color: #353535;
  text-align: center;
}


/* About Page - Biography and Artist Statement */
.bio-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.bio-text {
  margin-left: 50px;
  width: 55%;
  font-size: 1.05em;
  line-height: 1.7em;
}

.bio-image {
  width: 30%;
}

.bio-image img {
  width: 75%;
}

.bio-image p {
  font-family: 'Roboto Slab', serif;
  font-size: .8em;
}


/* Gallery Menu - WORK IN PROGRESS */
.gallery-menu {
  display: none;
}


/* Gallery Container */
.gallery-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item-card {
  margin: 30px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.item-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}


/* Artwork Details */
.item-details {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.item-details-images {
  width: 60%;
  padding-top: 32.16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.item-details-single-img {
  padding-bottom: 60px;
}

.item-details-info {
  width: 30%;
  position: fixed;
  left: 0;
  top: 80px;
}

.item-details-info p {
  margin-left: 50px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.75em;
}


/* Exhibitions Page */
.exhibition-card {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.exhibition-image {
  width: 47%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.exhibition-image img {
  width: 40%;
}

.exhibition-info {
  width: 53%;
  border-bottom: 5px solid #353535;
}

/* Styling for exhibition info li's */
.year {
  font-size: .9em;
  color: #353535;
}

.title {
  padding-top: 10px;
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: .1em;
}

.venue-and-location {
  padding-top: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 1.3em;
}

.description {
  padding-top: 15px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
}

.date {
  padding-top: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  color: #353535;
}


/* Press Page */
.press-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.press-card {
  width: 60%;
  border-bottom: 5px solid #353535;
}

.press-date {
  padding: 40px 0 10px 0;
  color: #353535;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
  letter-spacing: .05em;
}

.press-title {
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: .05em;
}

.press-excerpt {
  border-left: 2px solid #d1d1d1;
  padding-left: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
  font-style: italic;
  letter-spacing: .05em;
}

.press-source {
  padding: 15px 0 40px 0;
  font-size: .9em;
}


/* Contact Form */
.form-container {
  width: 100%;
}

#contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
