/* Google Fonts
font-family: 'Staatliches', 'Futura', sans-serif; /* navbar, page headings
font-family: 'Lato', sans-serif; /* large blocks of text
font-family: 'Roboto Slab', serif; /* accent text
font-family: 'Patrick Hand', sans-serif; /* footer
*/

/* Universal styling */
body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 1em; 
}

h1 {
  margin-left: 50px;
  color: #1a1a1d;
  font-family: 'Staatliches', 'Futura', sans-serif;
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .15em;
  text-decoration: overline;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #1a1a1d;
}


/* Navbar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  
}

.logo a {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  color: #3d5c36;
  font-family: 'Staatliches', 'Futura', sans-serif;
  font-size: 2em;
}

.logo a:hover {
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.menu li {
  margin-right: 20px;
  font-family: 'Staatliches', 'Futura', sans-serif;
  text-transform: uppercase;
}

.menu a {
  margin-right: 20px;
}

/* Sub-menu */
ul.menu {
  font-size: 1.4em;
  letter-spacing: .15em;
  text-transform: uppercase;
}

ul.menu li a {
  display: block; 
}

ul.menu > li:hover {
  text-decoration: none;
}

ul.menu > li {
  padding: 0px;
  display: inline-block; 
  position: relative; 
}

ul.menu > li ul {
  display: none; 
  position: absolute; 
  left: -1px;
  width: 250px;
  margin-top: 1px;
}

ul.menu > li:hover ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

ul.menu > li ul li {
  display: inline-block;
}

ul.dropdown {
  position: absolute;
  z-index: 1000;
  width: 250px;
  padding: 0px;
  background-color: rgba(255, 255 ,255, 0.5);
}

.sublink {
  padding: 5px;
}


/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 25px 0 25px 0;
  border-top: 1px solid #000000;
}

.footer p {
  line-height: 0.2em;
  font-family: 'Roboto Slab', serif;
}


/* (Universal) Page Container */
.container {
  width: 100%;
}


/* About Section - Biography and Artist Statement */



/* Gallery Menu */
.gallery-menu {
  display: none;
}


/* Gallery Container */
.gallery-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item-card {
  margin: 30px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.item-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}


/* Artwork Details */
.item-details {
  width: 100%;
  margin-left: 50px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.item-details-img {
  margin: 0 auto;
}

.item-details-info p {
  font-family: 'Roboto Slab', serif;
  font-size: 1.75em;
  line-height: .75em;
}


/* Gallery Pages (pre-collegiate, undergrad, and 1982-present views) */
.sub-gallery-container {

}
