/* Google Fonts
font-family: 'Staatliches', 'Futura', sans-serif; /* navbar, page headings
font-family: 'Lato', sans-serif; /* large blocks of text
font-family: 'Roboto Slab', serif; /* accent text
font-family: 'Patrick Hand', sans-serif; /* footer
*/

/* Universal styling */
body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 1em; 
}

h1 {
  margin-left: 50px;
  color: #000000;
  font-family: 'Staatliches', 'Futura', sans-serif;
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .15em;
  text-decoration: overline;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */


/* Navbar */
.navbar {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
}

.logo img {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  width: 42px;
}

.menu {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-link {
  font-family: 'Staatliches', 'Futura', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #353535;
}

.slider {
  position: inline;
  display: block;
  left: 0;
  top: 90%;
  margin: 0 auto;
  height: 2px;
  background-color: #000000;
  width: 0%;
  transition: width .5s;
}

.menu-link:hover > .slider {
  text-decoration: none;
  width: 100%;
}

.menu a.chosen {
  color: #000000;
}


/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 50px 0 25px 0;
}

.footer p {
  font-size: .8em;
  line-height: 0.2em;
  font-family: 'Roboto Slab', serif;
}


/* (Universal) Page Container */
.container {
  padding-top: 120px;
  width: 100%;
}


/* 404 Page */
._404-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

._404-container p {
  font-family: 'Roboto Slab', serif; 
  font-size: 1.8em;
}


/* RandomImage Component */
.home-random-image {
  width: 74%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.random-image-component img {
  max-height: 400px;
}

.random-image-component p {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  color: #353535;
  text-align: center;
}


/* Home Gallery Component */
.home-gallery-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Staatliches', 'Futura', sans-serif;
  font-size: 2.5em;
  color: #353535;
}

.home-gallery-image {
  width: 400px;
}

.home-gallery-image img {
  margin: auto;
  width: 100%;
}

/* About Page - Biography and Artist Statement */
.bio-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.bio-text {
  margin-left: 50px;
  width: 55%;
  font-size: 1.05em;
  line-height: 1.7em;
}

.bio-image {
  width: 30%;
}

.bio-image img {
  width: 75%;
}

.bio-image p {
  font-family: 'Roboto Slab', serif;
  font-size: .8em;
}


/* Gallery landing page */
.gallery-landing-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.category-container {
  width: 30%;
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  align-items: center;
}

.category-container h2 {
  font-family: 'Staatliches', 'Futura', sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  letter-spacing: .1em;
}

.gallery-home-item-card {
  margin: 10px;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.gallery-home-item-card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}


/* Gallery (category) Container */
.gallery-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/* Gallery category pages */
.item-card {
  margin: 30px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.item-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}


/* Artwork Details */
.item-details {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.item-details-images {
  width: 59%;
  padding-top: 32.16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.item-details-single-img {
  margin: auto;
  padding-bottom: 60px;
}

.item-details-info {
  width: 40%;
  position: fixed;
  left: 0;
  top: 100px;
}

.item-title {
  font-size: 2.3em;
}

.breadcrumb {
  margin-left: 50px;
  width: 100%;
}

.breadcrumb li {
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-size: .9em;
  text-transform: lowercase;
  color: #000000;
}

.breadcrumb li+li:before {
  padding: 1em;
  color: #aaaaaa;
  font-style: normal;
  content: "»";
}

.item-details-info p {
  margin-left: 50px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.75em;
}

.prev-next-buttons {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  font-size: 2.5em;
}


/* Exhibitions Page */
.exhibition-card {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.exhibition-image {
  width: 47%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.exhibition-image img {
  width: 40%;
}

.exhibition-info {
  width: 53%;
  border-bottom: 5px solid #353535;
}

/* Styling for exhibition info li's */
.year {
  font-size: .9em;
  color: #353535;
}

.title {
  padding-top: 10px;
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: .1em;
}

.venue-and-location {
  padding-top: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 1.3em;
}

.description {
  padding-top: 15px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
}

.date {
  padding-top: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  color: #353535;
}


/* Press Page */
.press-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.press-card {
  width: 60%;
  border-bottom: 5px solid #353535;
}

.press-date {
  padding: 40px 0 10px 0;
  color: #353535;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
  letter-spacing: .05em;
}

.press-title {
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: .05em;
}

.press-excerpt {
  border-left: 2px solid #d1d1d1;
  padding-left: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
  font-style: italic;
  letter-spacing: .05em;
}

.press-source {
  padding: 15px 0 40px 0;
  font-size: .9em;
}


/* Contact Form */
.form-container {
  width: 100%;
}

#contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}




/* Styling for screens lower than 768px */
@media screen and (max-width: 768px) {
  /* Universal styling */
  h1 {
    margin-left: 10px;
    font-size: 2.3em;
    letter-spacing: .1em;
  }
  
  /* NEEDS WORK */
  /* Navbar */
  


  /* Footer */
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 0px;
  }

  .footer p {
    font-size: .7em;
  }


  /* (Universal) Page Container */
  .container {
    padding-top: 100px;
    margin: 0px;
    width: 100%;
  }


  /* 404 Page */
  ._404-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  ._404-container p {
    font-family: 'Roboto Slab', serif; 
    font-size: 1.8em;
    text-align: center;
  }

  /* RandomImage Component */
  .home-random-image {
    margin-top: 20px;
  }

  .random-image-component img {
    max-width: 300px;
  }

  .random-image-component p {
    font-size: 1em;
  }


  /* Home Page and HomeGallery Component */
  .home-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }


  /* Gallery landing page */
  .category-container {
    width: 100%;
  }

  .category-container h2 {
    padding-bottom: 50px;
    font-size: 1.5em;
  }

  .gallery-home-item-card {
    width: 250px;
    height: 250px;
    overflow: hidden;
  }
  
  
  /* About Page - Biography and Artist Statement */
  .bio-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .bio-text {
    margin-left: 10px;
    width: 95%;
    font-size: 1em;
    line-height: 1.7em;
  }

  .bio-image {
    width: 100%;
  }

  .bio-image img {
    width: 100%;
  }

  .bio-image p {
    text-align: center;
  }


  /* Artwork Details */
  .item-details {
    margin-left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .item-details-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .item-details-single-img {
    margin: auto;
    padding-bottom: 60px;
  }

  .item-details-single-img img {
    margin: auto;
    max-width: 300px;
  }

  .item-details-info {
    position: static;
    width: 100%;
  }

  .item-title {
    margin-left: 30px;
    font-size: 2.2em;
  }

  .breadcrumb {
    margin-left: 30px;
    width: 100%;
  }

  .breadcrumb li {
    display: inline;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-size: .9em;
    text-transform: lowercase;
    color: #000000;
  }

  .breadcrumb li+li:before {
    padding: 1em;
    color: #aaaaaa;
    font-style: normal;
    content: "»";
  }

  .item-details-info p {
    margin-left: 30px;
    font-size: 1.5em;
  }

  .prev-next-buttons {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 3em;
  }


  /* Exhibitions Page */
  .exhibition-card {
    display: flex;
    flex-direction: column;
  }

  .exhibition-image {
    width: 100%;
  }

  .exhibition-image img {
    width: 80%;
  }

  .exhibition-info {
    width: 90%;
  }

  /* Styling for exhibition info li's */
  .title {
    font-size: 1.5em;
  }

  .venue-and-location {
    font-size: 1.1em;
  }

  .description {
    font-size: 1.1em;
  }

  .date {
    padding-bottom: 20px;
  }


  /* Press Page */
  .press-card {
    width: 90%;
  }

  .press-date {
    padding: 20px 0 10px 0;
  }

  .press-source {
    padding: 15px 0 20px 0;
  }


  /* Contact Form */
  .form-container {
    width: 100%;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

}
